.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #ededed;
  cursor: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins custom, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}

h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.375rem;
  font-weight: 500;
  line-height: 150%;
}

h2 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 150%;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 150%;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}

p {
  width: 100%;
  font-weight: 400;
}

a {
  cursor: none;
  text-decoration: none;
}

.page-wrapper {
  max-width: 1440px;
  grid-column-gap: 2rem;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1.5fr .5fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: space-between;
  justify-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  position: static;
}

.profile-wrapper {
  height: 100%;
  background-color: #181818;
  border: 1px solid #525252;
  border-radius: 8px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 2rem;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
}

.profile-content-wrapper {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-wrapper {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.para-smalll {
  color: #525252;
  margin-top: 0;
  font-size: .875rem;
  font-weight: 600;
}

.para-smalll:active {
  color: #ededed;
}

.profile-img {
  height: auto;
  object-fit: cover;
  border-radius: 800px;
}

.icons-wrapper {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.social-links {
  width: 50px;
  height: 50px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #525252;
  border: 0 solid #525252;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.social-links:hover {
  border-color: #ededed;
}

.body {
  -webkit-text-fill-color: inherit;
  cursor: none;
  background-color: #181818;
  background-clip: border-box;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #525252;
  background-color: rgba(255, 255, 255, 0);
  border: 0 solid #000;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: block;
}

.social-icon:hover {
  color: #ededed;
}

.home-wrapper {
  width: 100%;
  max-width: 682px;
  grid-column-gap: 0rem;
  grid-row-gap: 5rem;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
  position: static;
}

.section-label {
  width: auto;
  max-width: 200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #525252;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  display: flex;
}

.headline-wrapper {
  width: 100%;
  max-width: 682px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: block;
}

.img-wrapper {
  width: 100%;
  align-self: center;
}

.padding-large {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-large.mobile {
  padding-bottom: 4rem;
}

.sidebar {
  width: 55px;
  height: 320px;
  background-color: rgba(97, 141, 234, 0);
  border: 1px solid #525252;
  border-radius: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  overflow: hidden;
  box-shadow: 0 0 24px rgba(0, 0, 0, .18);
}

.sidebar:hover {
  border-radius: 8px;
}

.nav-link {
  color: rgba(255, 255, 255, .69);
  border-left: 3px solid rgba(0, 0, 0, 0);
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  display: block;
}

.nav-link.w--current {
  color: #fff;
  border-left-style: solid;
  border-left-color: #fff;
}

.nav-link.cursor-hover.w--current {
  border-left-style: none;
}

.nav-link.cta-modal {
  display: none;
}

.hover-wrapper {
  border-radius: 8px;
  justify-content: flex-end;
  align-items: center;
  margin-left: 4px;
  margin-right: 8px;
  padding: 6px 16px 6px 8px;
  display: flex;
}

.menu-icon {
  width: 1.5em;
  height: 1.5em;
  color: #525252;
  margin-left: 16px;
  margin-right: -9px;
}

.menu-icon.custom-icon, .menu-icon.custom-icon-educ {
  width: 1.7em;
  margin-right: -11px;
}

.menu-icon.custom-icon-dl {
  margin-left: 14px;
  margin-right: -6px;
}

.menu-icon.custom-icon-dl.icon-is-white {
  color: #181818;
}

.glowing-wrapper-btn {
  z-index: 1;
  width: 100%;
  color: #fff;
  letter-spacing: -.01em;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 62.5rem;
  padding: .5rem 1.5rem;
  font-size: .88rem;
  line-height: 150%;
  text-decoration: none;
  position: relative;
}

.glowing-wrapper-btn.cursor-hover {
  grid-column-gap: .5rem;
  justify-content: center;
  display: flex;
}

.glowing-wrapper-btn.cursor-hover:hover {
  filter: brightness(200%);
}

.glowing-wrapper {
  border-radius: 62.5rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.glowing-wrapper.glowing-wrapper-active {
  width: 100%;
}

.glowing-wrapper.glowing-wrapper-active._404-btn {
  max-width: 30%;
  min-width: 20%;
}

.glowing-wrapper-borders-masker {
  opacity: 0;
  border-radius: 62.5rem;
  padding: .06rem;
  line-height: 100%;
  transition: opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
}

.button-text {
  z-index: 2;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(rgba(255, 255, 255, .4), #fff);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: .875rem;
  font-weight: 500;
  position: relative;
}

.glowing-wrapper-animations {
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glowing-wrapper-mask {
  opacity: 1;
}

.glowing-wrapper-glow {
  opacity: .12;
  filter: blur(8px);
}

.glowing-wrapper-borders {
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glowing-wrapper-mask-wrapper {
  opacity: 1;
}

.link-wrapper {
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.border-hover-glow-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: flex;
  overflow: hidden;
}

.border-glow-card-wrap {
  z-index: auto;
  min-width: 200px;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border: 0 solid #525252;
  border-radius: 4px;
  flex-basis: 20%;
  padding: 2px;
  position: relative;
  overflow: hidden;
}

.border-hover-glow-card {
  background-color: #181818;
  border-radius: 6px;
  padding: 16px;
}

.border-hover-glow-card.bg-card {
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 24px;
  -webkit-text-stroke-color: rgba(250, 250, 250, .13);
  background-color: #181818;
  background-image: linear-gradient(rgba(255, 255, 255, .04), rgba(255, 255, 255, .04)), radial-gradient(circle closest-corner at 50% 0, rgba(255, 255, 255, .12), rgba(255, 255, 255, 0));
  border-width: 0;
  border-color: #525252;
  border-radius: 6px;
  flex-direction: column;
  padding: 12px;
}

.border-glow-circle {
  z-index: -1;
  width: 385px;
  height: 299px;
  filter: blur(80px);
  color: #ededed;
  background-color: #fff;
  background-image: linear-gradient(to right, #9e69ff 26%, #17dede);
  border-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.border-glow-circle._2, .border-glow-circle._3 {
  -webkit-text-stroke-color: rgba(250, 250, 250, .1);
}

.padding-small {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-small.mobile {
  display: none;
}

.about-wrapper {
  width: 100%;
  max-width: 682px;
}

.home-anchor, .about-anchor {
  width: 0;
  height: 0;
  margin-top: -56px;
  position: absolute;
}

.experience_timeline-left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: 2.5rem;
  display: flex;
  position: relative;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.experience_progress-bar-wrapper {
  width: 2px;
  height: 85%;
  color: #6388e5;
  background-color: rgba(255, 255, 255, .15);
  position: absolute;
  top: 3%;
  left: 62px;
  right: auto;
}

.experience_timeline-step {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
}

.experience_progress-bar {
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.experience_timeline-right {
  padding-top: 0;
  padding-bottom: 2.5rem;
  display: flex;
}

.experience_timeline-wrapper {
  position: relative;
}

.icon-embed-custom {
  width: 1.2rem;
  height: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  margin-left: 54px;
  margin-right: 62px;
  padding-right: 0;
  display: block;
  position: static;
  left: 0;
  right: 0;
}

.workexp-wrapper {
  width: 100%;
  max-width: 682px;
}

.icon-inner {
  width: 50px;
  height: 50px;
  border: 1px solid #525252;
  border-radius: 100%;
  padding: 12px;
}

.workexp-anchor {
  width: 0;
  height: 0;
  margin-top: -56px;
  position: absolute;
}

.skillset-wrapper {
  width: 100%;
  max-width: 682px;
}

.skillset-anchor {
  width: 0;
  height: 0;
  margin-top: -56px;
  position: absolute;
}

.education-wrapper {
  width: 100%;
  max-width: 682px;
}

.education-anchor {
  width: 0;
  height: 0;
  margin-top: -56px;
  position: absolute;
}

.margin-xsmall {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bg-card {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: #010208;
  background-image: radial-gradient(circle closest-corner at 50% 0, rgba(255, 255, 255, .12), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, .04);
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 32px;
  display: flex;
}

.text-scroll-section {
  min-height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-scroll-wrapper {
  width: 100%;
  max-width: 90rem;
  margin-left: 0;
  margin-right: auto;
}

.text-scroll-content {
  width: 100%;
  max-width: 56.25rem;
  margin-left: 0;
  margin-right: auto;
}

.heading-scroll {
  max-width: 682px;
  color: #f2f2f2;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.education_progress-bar-wrapper {
  width: 2px;
  height: 90%;
  background-color: rgba(255, 255, 255, .15);
  position: absolute;
  top: 2%;
  left: 62px;
  right: auto;
}

.special-heading {
  max-width: 380px;
  color: #525252;
  text-align: left;
}

.main-circle {
  width: 120px;
  height: 120px;
  color: #181818;
  background-color: #181818;
  border: 0 solid #525252;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.base-circle {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.skill-stats {
  width: 120px;
  border: 0 solid #000;
  flex-direction: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.statistics-data-wrapper {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.progress-bar-3 {
  width: 100%;
  height: 100%;
  transform-origin: 100% 0;
  background-color: #17dede;
  border: 0 solid #000;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.progress-mask {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #181818;
  border: 0 solid #000;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.top-circle {
  z-index: 100;
  width: 90%;
  height: 90%;
  color: #181818;
  background-color: #181818;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.progress-bar-1 {
  width: 100%;
  height: 100%;
  transform-origin: 100% 0;
  background-color: #402277;
  border: 0 solid #000;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar-2 {
  width: 100%;
  height: 100%;
  transform-origin: 100% 0;
  background-color: #6388e5;
  background-image: linear-gradient(360deg, #402277, #17dede);
  border: 0 solid #000;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.max-width {
  max-width: 682px;
  text-align: left;
}

.special-paragraph {
  color: #525252;
  font-weight: 500;
}

.label-tag {
  color: #525252;
  text-transform: uppercase;
  font-size: .875rem;
}

.text-center {
  width: auto;
  text-align: center;
}

.highlight-heading {
  color: #17dede;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  font-weight: 500;
}

.highlight-heading.mobile-no-counter {
  display: none;
}

.skills-icon {
  z-index: 101;
  width: 1.5625rem;
  height: 1.8125rem;
  color: #ededed;
  -webkit-text-stroke-color: #ededed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  display: flex;
  position: absolute;
}

.contact-modal {
  z-index: 200;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-bg {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(1, 2, 8, .9);
}

.modal-container {
  width: 100%;
  max-width: 376px;
  background-color: #181818;
  background-image: radial-gradient(circle at 50% 0, rgba(255, 255, 255, .12), rgba(255, 255, 255, 0) 30%), linear-gradient(rgba(255, 255, 255, .04), rgba(255, 255, 255, .04));
  border-radius: 16px;
  padding: 2rem;
  position: absolute;
}

.profile-content-modal-wrapper {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.link-block {
  color: #525252;
  text-decoration: none;
  position: absolute;
  top: 1.2rem;
  bottom: auto;
  left: auto;
  right: 1rem;
}

.close-text {
  font-size: 4rem;
  font-weight: 400;
  position: static;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  transform: rotate(45deg);
}

.main-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 56px;
  display: flex;
  position: static;
}

.nav-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
}

.img-wrapper-home {
  width: 100%;
  align-self: center;
  display: none;
}

.page-load-overlay {
  z-index: 2000;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.load-overlay-slide {
  width: 50%;
  height: 100%;
  background-color: #181818;
}

.load-overlay-slide.cc-left {
  width: 50%;
  height: 100%;
  transform-origin: 0%;
  background-color: #121212;
}

.load-overlay-slide.cc-right {
  width: 50%;
  height: 100%;
  transform-origin: 100%;
  background-color: #121212;
}

.load-overlay-brand {
  width: 24em;
  position: absolute;
}

.header-line-mask {
  overflow: hidden;
}

.header-heading {
  color: #17dede;
  text-align: left;
}

.header-bg-mask {
  -webkit-text-fill-color: transparent;
  background-color: #17dede;
  background-image: linear-gradient(to right, #9e69ff, #17dede 75%);
  -webkit-background-clip: text;
  background-clip: text;
}

.star-container {
  display: none;
}

.star-animation {
  position: absolute;
  top: 0;
  bottom: -503%;
  left: 0%;
  right: 0%;
}

.star-animation.impressum-page {
  bottom: -9%;
}

.star-animation.privacy-page {
  bottom: -1121%;
}

.star-animation._404-page {
  bottom: 8%;
}

.star-animation.pw-page {
  bottom: -11%;
}

.star-animation.dl-page {
  bottom: -76%;
}

.cursor {
  z-index: 9999;
  width: .7rem;
  height: .7rem;
  background-color: #17dede;
  border-radius: 50%;
  position: absolute;
}

.cursor-wrapper {
  z-index: 9999;
  justify-content: center;
  align-items: center;
  transition: opacity .3s;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cursor-follower {
  width: 2rem;
  height: 2rem;
  background-color: #17dede;
  border-radius: 50%;
  transition: right .2s linear, bottom .2s linear, left .2s linear, top .2s linear;
}

.cursor-hover {
  border-radius: 50px;
}

.transition {
  z-index: 2000;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: none;
}

.transition-trigger {
  z-index: 20;
  padding: 0;
  display: none;
}

.transition-content {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.transition-bg {
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.transition-color {
  width: 100%;
  height: 100%;
  background-color: #121212;
  position: relative;
}

.transition-color-border {
  width: 100%;
  height: 10px;
  background-color: #121212;
  margin-bottom: -8px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.transition-lottie {
  width: 100%;
  margin-bottom: -5px;
  position: relative;
}

.transition-logo-img {
  z-index: 2;
  width: 7em;
  position: relative;
}

.para-copyright {
  width: auto;
  color: #525252;
  margin-top: 0;
  font-size: .75rem;
  font-weight: 400;
  line-height: 110%;
  text-decoration: none;
}

.para-copyright:active {
  color: #ededed;
}

.profil-link-wrapper {
  grid-column-gap: 1rem;
  justify-content: flex-start;
  display: flex;
}

.copyright-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.para-copyright-link {
  color: #525252;
  margin-top: 0;
  font-size: .75rem;
  font-weight: 500;
  line-height: 110%;
  text-decoration: none;
}

.para-copyright-link:hover {
  color: #17dede;
}

.para-copyright-link:active {
  color: #ededed;
}

.para-copyright-link.cursor-hover {
  transition: color .4s cubic-bezier(.645, .045, .355, 1);
}

.page-sub-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  color: #ededed;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1.5fr .5fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: space-between;
  justify-items: center;
  margin-top: 0;
  padding-top: 56px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  position: static;
}

.page-sub-wrapper._404-sub-page {
  height: 80vh;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.main-sub-wrapper {
  width: 100%;
  height: auto;
  max-width: 1024px;
  perspective: 1200px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
}

.text-block {
  margin-top: 2rem;
  font-weight: 400;
}

.subpage-headlines {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.subpage-headlines.sub-h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.subpage-headlines.pw-page {
  text-align: center;
  font-size: 2rem;
  font-style: normal;
}

.subpage-links {
  color: #17dede;
}

.main-headline {
  color: #ededed;
  font-weight: 600;
}

.footer-wrapper {
  max-width: 1440px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.border-gradient {
  width: 100%;
  height: 1px;
  background-image: radial-gradient(circle, #525252, #181818 90%);
}

.subpage-paragraph {
  color: #d4d4d4;
  overflow-wrap: anywhere;
}

.subpage-list {
  color: #d4d4d4;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 350px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.paragraph {
  max-width: 800px;
}

.main-404-wrapper {
  width: 100%;
  height: auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: static;
}

.main-404-headline {
  color: #17dede;
  font-weight: 600;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.field-label {
  font-weight: 400;
}

.fa-icons {
  height: 3.8rem;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 6rem;
  font-weight: 900;
}

.padding-xsmall {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.pw-submit-btn {
  color: #121212;
  background-color: #17dede;
  border-radius: 50px;
}

.icons {
  width: 168px;
  height: 72px;
  flex: 0 auto;
  justify-content: space-between;
  align-self: flex-end;
  padding: 24px;
  display: flex;
  overflow: hidden;
}

.iconstyle {
  cursor: pointer;
}

.iconstyle.coffee, .iconstyle.heart, .iconstyle.email {
  display: none;
}

.centeredcontent {
  perspective: 1200px;
  display: flex;
  transform: perspective(1200px);
}

.textwrapper {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin-left: 77px;
  padding-left: 0;
  padding-right: 24px;
  display: flex;
}

.innercontent {
  perspective: 1200px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  display: flex;
  transform: perspective(1200px);
}

.contentwrapper {
  z-index: 0;
  perspective: 1200px;
  background-color: #181818;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: perspective(1200px);
}

.btn-dl-label {
  color: #181818;
  text-transform: uppercase;
  font-size: 20px;
}

.blurbg {
  z-index: -100;
  width: 450px;
  height: 300px;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 8px;
  position: absolute;
}

.dl-paragraph {
  color: #525252;
  cursor: default;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 150%;
}

.dl-btn {
  height: 72px;
  cursor: pointer;
  background-color: #9e69ff;
  border-bottom-right-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.dl-btn.cursor-hover {
  cursor: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(268deg, #17dede, #5aa3ee);
  border-radius: 0;
}

.glasscard {
  width: 450px;
  height: 300px;
  perspective: 1200px;
  background-image: linear-gradient(272deg, #17dede 23%, #9e69ff);
  border-radius: 8px;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
  overflow: visible;
  transform: perspective(1200px);
  box-shadow: 0 5px 14px rgba(0, 0, 0, .4);
}

.avatarwrapper {
  z-index: 100;
  width: 106px;
  height: 106px;
  transform: ;
  background-image: url('../images/pexels-andrea-piacquadio-3765114.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 8px;
  align-self: center;
  position: absolute;
  top: 20%;
  bottom: 0%;
  left: 24%;
  right: 0%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .4);
}

.avatarwrapper.bk-cert {
  background-image: url('../images/bk-zeugnis-thumbnail_1bk-zeugnis-thumbnail.webp');
}

.avatarwrapper.webflow-cert {
  background-image: url('../images/webflow-thumbnail_1webflow-thumbnail.webp');
}

.avatarwrapper.fcc-cert {
  background-image: url('../images/freecode-camp-thumbnail_1freecode-camp-thumbnail.webp');
}

.dl-h2 {
  color: #ededed;
  cursor: default;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 20px;
}

.dl-card-wrapper {
  width: 100%;
  height: auto;
  max-width: 1024px;
  perspective: 1200px;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: static;
}

.dl-sub-page {
  max-width: 1440px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  color: #ededed;
  flex-wrap: wrap;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1.5fr .5fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: space-between;
  justify-items: center;
  margin-top: 0;
  padding-top: 56px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: static;
  overflow: visible;
}

.glowing-wrapper-button {
  z-index: 1;
  color: #fff;
  letter-spacing: -.01em;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 62.5rem;
  padding: .5rem 1.5rem;
  font-size: .88rem;
  line-height: 1.42;
  text-decoration: none;
  position: relative;
}

.glowing-wrapper-button.cursor-hover {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}

.experience-list {
  color: #d4d4d4;
  font-size: .875rem;
  font-weight: 400;
}

.icon-embed-custom-2 {
  width: 1.4375rem;
  height: 1.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon {
  width: 24px;
  height: 24px;
  color: #160042;
  justify-content: center;
  align-items: center;
  display: flex;
}

.passwort_overlay {
  z-index: 9998;
  width: 100%;
  min-height: 100vh;
  perspective: 2000px;
  perspective-origin: 0%;
  background-color: #121212;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.password-card {
  max-width: 540px;
  grid-row-gap: 32px;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  perspective-origin: 0%;
  transform-origin: 0%;
  text-align: center;
  background-color: rgba(0, 0, 0, .48);
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 64px 64px;
  display: flex;
  transform: perspective(600px);
}

.locked-icon-wrap {
  width: 56px;
  height: 56px;
  border: 2px solid rgba(255, 255, 255, .16);
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.password-form {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.form {
  width: 100%;
}

.form-inner {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.inputfield_password {
  width: 100%;
  min-height: 56px;
  color: #fff;
  background-color: rgba(255, 255, 255, .08);
  border: 1px #000;
  border-radius: 50px;
  margin-bottom: 16px;
  padding: 16px 24px;
  font-size: 1rem;
  line-height: 24px;
  transition: background-color .5s cubic-bezier(.19, 1, .22, 1), color .5s cubic-bezier(.19, 1, .22, 1);
}

.inputfield_password:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, .12);
}

.inputfield_password:active, .inputfield_password:focus {
  color: #fff;
}

.inputfield_password::-ms-input-placeholder {
  color: rgba(255, 255, 255, .47);
}

.inputfield_password::placeholder {
  color: rgba(255, 255, 255, .47);
}

.submit_password {
  width: 100%;
  color: #121212;
  background-color: #17dede;
  border-radius: 50px;
  padding: 16px 24px;
  transition: background-color .5s cubic-bezier(.19, 1, .22, 1), letter-spacing .5s cubic-bezier(.19, 1, .22, 1), transform .2s cubic-bezier(.175, .885, .32, 1.275);
}

.submit_password:hover {
  color: #fff;
  background-color: #0f9696;
  font-weight: 400;
}

.submit_password:active {
  transform: scale(.95);
}

.submit_password.cursor-hover {
  cursor: none;
  font-size: 1rem;
  font-weight: 600;
}

.submit_password.cursor-hover:hover {
  color: #121212;
  background-color: #0ca4a4;
  font-weight: 500;
}

.h1-small {
  letter-spacing: 1px;
  font-size: 2.5rem;
}

.content-wrapper {
  grid-row-gap: 8px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.paragraph-2 {
  letter-spacing: .7px;
}

.dl-icon {
  width: 1.5em;
  height: 1.5em;
  color: #181818;
}

.dl-icon.custom-icon, .dl-icon.custom-icon-educ {
  width: 1.7em;
  margin-right: -11px;
}

.dl-icon.custom-icon-dl {
  margin-left: 14px;
  margin-right: -6px;
}

.dl-icon.custom-icon-dl.icon-is-white {
  color: #181818;
}

@media screen and (min-width: 1280px) {
  .page-wrapper {
    grid-column-gap: 7rem;
  }

  .body {
    background-color: #181818;
  }

  .border-glow-card-wrap {
    min-width: 190px;
  }

  .border-glow-circle {
    filter: blur(60px);
    background-image: linear-gradient(to right, #9b65ff 28%, #17dede 82%);
  }

  .cursor, .cursor-follower {
    background-color: #17dede;
  }

  .page-sub-wrapper {
    grid-column-gap: 7rem;
  }

  .dl-card-wrapper {
    flex: 1;
  }

  .dl-sub-page {
    grid-column-gap: 0rem;
    grid-row-gap: 64px;
  }
}

@media screen and (max-width: 991px) {
  .page-wrapper {
    flex-direction: column;
    grid-template-rows: auto 710px auto auto auto auto auto;
    grid-template-columns: 7.5fr 1fr;
    grid-auto-columns: .25fr;
    display: flex;
  }

  .profile-wrapper {
    width: 100%;
    height: auto;
    max-width: none;
    display: none;
    position: static;
  }

  .profile-content-wrapper {
    height: 100%;
  }

  .para-smalll.nav-label {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .75rem;
    font-weight: 400;
  }

  .profile-img {
    height: auto;
  }

  .body {
    cursor: auto;
  }

  .home-wrapper {
    align-self: flex-start;
  }

  .img-wrapper {
    width: 50%;
  }

  .padding-large.mobile {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sidebar {
    width: 100%;
    height: 80%;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    position: static;
  }

  .sidebar:hover {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-radius: 0;
  }

  .nav-link {
    flex: 1;
  }

  .nav-link.cta-modal {
    display: block;
  }

  .hover-wrapper {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .menu-icon {
    order: -1;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-icon.custom-icon-educ {
    margin-right: auto;
  }

  .menu-icon.custom-icon-dl {
    margin-left: auto;
    margin-right: auto;
  }

  .menu-icon.custom-icon-phone {
    width: 1.7em;
  }

  .link-wrapper {
    width: 90%;
    height: 100%;
    align-self: center;
    display: flex;
  }

  .border-hover-glow-grid {
    justify-content: space-between;
  }

  .border-glow-card-wrap {
    min-width: 187px;
    flex: 0 30%;
  }

  .border-hover-glow-card.bg-card {
    grid-row-gap: 16px;
  }

  .padding-small.mobile {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
  }

  .about-wrapper {
    max-width: 85%;
    align-self: flex-start;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .experience_timeline-step {
    grid-column-gap: 24px;
  }

  .workexp-wrapper, .skillset-wrapper, .education-wrapper {
    max-width: 85%;
    align-self: flex-start;
  }

  .special-heading {
    max-width: none;
    font-size: 2rem;
  }

  .skill-stats {
    flex: 0 auto;
    margin-bottom: 50px;
  }

  .statistics-data-wrapper {
    flex-flow: wrap;
    margin-top: 25px;
  }

  .highlight-heading {
    display: inline-block;
  }

  .highlight-heading.mobile-no-counter {
    display: block;
  }

  .highlight-heading.display-counter {
    display: none;
  }

  .contact-modal {
    z-index: 200;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-text-fill-color: inherit;
    background-color: rgba(1, 2, 8, .15);
    background-clip: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .modal-bg {
    width: 100%;
    height: 100%;
  }

  .modal-container {
    width: 100%;
    max-width: 35rem;
    position: absolute;
  }

  .profile-content-modal-wrapper {
    height: 100%;
  }

  .main-wrapper {
    align-self: auto;
  }

  .nav-wrapper {
    z-index: 1999;
    width: 100%;
    height: 80px;
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(200px);
    background-color: rgba(24, 24, 24, .2);
    background-image: url('../images/noise_1noise.webp');
    background-size: 100px;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .img-wrapper-home {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .star-animation {
    bottom: -324%;
  }

  .star-animation.impressum-page {
    bottom: 12%;
  }

  .star-animation.privacy-page {
    bottom: -686%;
  }

  .star-animation._404-page {
    bottom: 16%;
  }

  .star-animation.pw-page {
    bottom: -3%;
  }

  .star-animation.dl-page {
    bottom: -137%;
  }

  .copyright-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .page-sub-wrapper {
    flex-direction: row;
    grid-template-rows: auto 710px auto auto auto auto auto;
    grid-template-columns: 7.5fr 1fr;
    grid-auto-columns: .25fr;
    display: flex;
  }

  .page-sub-wrapper._404-sub-page {
    align-items: center;
  }

  .main-sub-wrapper {
    width: 90%;
    align-self: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .main-headline {
    font-size: 3rem;
  }

  .footer-wrapper {
    margin-top: 0;
  }

  .paragraph {
    text-align: center;
  }

  .main-404-wrapper {
    align-self: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .main-404-headline {
    font-size: 3rem;
  }

  .dl-card-wrapper {
    width: 90%;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  .dl-sub-page {
    flex-direction: row;
    grid-template-rows: auto 710px auto auto auto auto auto;
    grid-template-columns: 7.5fr 1fr;
    grid-auto-columns: .25fr;
    display: flex;
  }

  .passwort_overlay {
    display: flex;
  }

  .dl-icon.custom-icon-educ {
    margin-right: auto;
  }

  .dl-icon.custom-icon-dl {
    margin-left: auto;
    margin-right: auto;
  }

  .dl-icon.custom-icon-phone {
    width: 1.7em;
  }
}

@media screen and (max-width: 767px) {
  .para-smalll {
    font-weight: 500;
  }

  .para-smalll.nav-label {
    font-size: .625rem;
  }

  .padding-large {
    padding-top: 0;
  }

  .sidebar {
    top: 32px;
  }

  .hover-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-icon {
    width: 1em;
  }

  .menu-icon.custom-icon-educ, .menu-icon.custom-icon-phone {
    width: 1.2em;
  }

  .glowing-wrapper.glowing-wrapper-active._404-btn {
    max-width: 80%;
  }

  .link-wrapper {
    width: 95%;
  }

  .border-glow-card-wrap {
    min-width: 200px;
    flex-grow: 1;
  }

  .padding-small.mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .experience_progress-bar-wrapper {
    left: 2.5rem;
  }

  .experience_timeline-step {
    grid-column-gap: 0px;
    grid-template-columns: 90px minmax(350px, 2fr);
  }

  .education_progress-bar-wrapper {
    top: 2%;
    left: 2.5rem;
  }

  .special-heading {
    font-size: 1.5rem;
  }

  .skill-stats {
    margin-bottom: 35px;
  }

  .contact-modal {
    justify-content: flex-start;
    display: none;
  }

  .modal-container {
    width: 60%;
    top: 3rem;
  }

  .page-load-overlay {
    display: none;
  }

  .load-overlay-brand {
    width: 20em;
  }

  .header-heading {
    font-size: 3.2rem;
  }

  .star-animation {
    bottom: -537%;
  }

  .star-animation._404-page {
    bottom: 11%;
  }

  .star-animation.dl-page {
    bottom: -182%;
  }

  .para-copyright {
    font-weight: 500;
  }

  .copyright-wrapper {
    flex-direction: column;
  }

  .para-copyright-link {
    font-weight: 500;
  }

  .page-sub-wrapper._404-sub-page {
    width: 100%;
    align-items: center;
  }

  .main-sub-wrapper {
    width: 87%;
  }

  .text-block {
    word-break: break-all;
  }

  .subpage-headlines {
    font-size: 1rem;
  }

  .subpage-headlines.sub-h3 {
    font-size: 1.2rem;
  }

  .paragraph {
    text-align: center;
  }

  .main-404-wrapper {
    width: 100%;
  }

  .blurbg, .glasscard {
    max-width: 100%;
  }

  .dl-card-wrapper {
    width: 87%;
  }

  .passwort_overlay {
    display: flex;
  }

  .password-card {
    width: 90%;
    max-width: 480px;
    padding: 32px 40px 40px;
  }

  .dl-icon.custom-icon-educ, .dl-icon.custom-icon-phone {
    width: 1.2em;
  }
}

@media screen and (max-width: 479px) {
  .page-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
    grid-auto-columns: minmax(100px, .25fr);
  }

  .para-smalll {
    display: block;
  }

  .para-smalll.nav-label {
    display: none;
  }

  .social-links {
    width: 32px;
    height: 32px;
  }

  .social-icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: auto;
    bottom: 8px;
    left: 7px;
    right: auto;
  }

  .home-wrapper {
    max-width: 100%;
  }

  .img-wrapper {
    width: 60%;
  }

  .sidebar {
    z-index: 301;
  }

  .nav-link {
    align-self: center;
    margin-bottom: 0;
  }

  .nav-link.cursor-hover.d-none-sm {
    display: none;
  }

  .hover-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .menu-icon {
    width: 1.7em;
    margin-left: 0;
    margin-right: 0;
  }

  .menu-icon.custom-icon {
    width: 1.8em;
    margin-right: 0;
  }

  .menu-icon.custom-icon-educ {
    width: 1.7em;
    margin-right: 0;
  }

  .menu-icon.custom-icon-dl {
    margin-left: 0;
    margin-right: 0;
  }

  .menu-icon.custom-icon-phone {
    width: 1.7em;
  }

  .glowing-wrapper.glowing-wrapper-active._404-btn {
    max-width: 100%;
  }

  .border-hover-glow-grid {
    justify-content: center;
  }

  .border-glow-card-wrap {
    min-width: 240px;
  }

  .padding-small.mobile {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
  }

  .about-wrapper {
    max-width: 100%;
  }

  .experience_timeline-left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .experience_progress-bar-wrapper {
    height: 90%;
    left: 49%;
    transform: translate(-50%);
  }

  .experience_timeline-step {
    z-index: 1;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    text-align: center;
    background-color: #0d0d0d;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    justify-items: center;
    padding: 1rem;
    position: relative;
  }

  .experience_timeline-right {
    padding-bottom: 0;
    padding-left: 0;
  }

  .experience_timeline-wrapper {
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    flex-direction: column;
    display: flex;
    position: relative;
  }

  .workexp-wrapper {
    max-width: 100%;
  }

  .icon-inner {
    width: 32px;
    height: 32px;
    position: relative;
  }

  .skillset-wrapper, .education-wrapper {
    max-width: 100%;
  }

  .education_progress-bar-wrapper {
    height: 90%;
    left: 49%;
    transform: translate(-50%);
  }

  .special-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .9rem;
  }

  .skill-stats {
    flex: 1;
    margin-bottom: 50px;
  }

  .statistics-data-wrapper {
    margin-top: 15px;
  }

  .progress-mask {
    border-top-style: none;
    border-right-style: none;
  }

  .special-paragraph.mobile {
    font-size: .75rem;
    font-weight: 400;
    line-height: 110%;
  }

  .contact-modal {
    display: none;
  }

  .modal-container {
    width: 90%;
  }

  .profile-content-modal-wrapper {
    grid-row-gap: 24px;
  }

  .img-wrapper-home {
    width: 70%;
  }

  .header-heading {
    font-size: 1.9rem;
  }

  .star-animation {
    bottom: -853%;
  }

  .star-animation.impressum-page {
    bottom: -38%;
  }

  .star-animation._404-page {
    bottom: 15%;
  }

  .star-animation.dl-page {
    bottom: -221%;
  }

  .para-copyright, .para-copyright-link {
    display: block;
  }

  .heading {
    margin-top: 0;
    line-height: 110%;
  }

  .page-sub-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
    grid-auto-columns: minmax(100px, .25fr);
  }

  .main-sub-wrapper {
    width: 100%;
  }

  .subpage-headlines {
    overflow: visible;
  }

  .subpage-links.cursor-hover {
    width: 100%;
  }

  .main-headline {
    font-size: 2.5rem;
  }

  .footer-wrapper {
    margin-bottom: 4rem;
  }

  .utility-page-content {
    width: 300px;
  }

  .paragraph {
    text-align: left;
  }

  .main-404-wrapper {
    width: 100%;
  }

  .main-404-headline {
    font-size: 2.5rem;
  }

  .textwrapper {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
  }

  .contentwrapper {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }

  .blurbg {
    height: 350px;
  }

  .glasscard {
    height: 350px;
    flex-direction: column;
  }

  .avatarwrapper {
    top: 12px;
    bottom: auto;
    left: auto;
    right: auto;
  }

  .dl-card-wrapper {
    width: 100%;
  }

  .dl-sub-page {
    grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
    grid-auto-columns: minmax(100px, .25fr);
  }

  .experience-list {
    text-align: left;
  }

  .passwort_overlay {
    display: flex;
  }

  .password-card {
    grid-row-gap: 24px;
    padding: 24px;
  }

  .locked-icon-wrap {
    width: 48px;
    height: 48px;
  }

  .inputfield_password, .submit_password.cursor-hover {
    min-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1rem;
  }

  .h1-small {
    font-size: 1.6rem;
  }

  .paragraph-2 {
    font-size: .8rem;
  }

  .dl-icon.custom-icon {
    width: 1.8em;
    margin-right: 0;
  }

  .dl-icon.custom-icon-educ {
    width: 1.7em;
    margin-right: 0;
  }

  .dl-icon.custom-icon-dl {
    margin-left: 0;
    margin-right: 0;
  }

  .dl-icon.custom-icon-phone {
    width: 1.7em;
  }
}

#w-node-_8000aa5e-1ec6-802a-9652-91b8787e6042-fee2cf58 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-cbcce3f6-b9da-23f3-2abe-3524b2e02989-fee2cf58 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_794eef30-731a-8229-55e0-722cb96f36a7-fee2cf58, #w-node-dfe2483c-e5ff-646b-89df-ca934d759068-fee2cf58, #w-node-_9a9559e7-ef31-0825-04ad-1b3b64ec1cff-fee2cf58 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_258800bf-7d71-8643-d448-ffaf46f9082c-fee2cf58 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-fe3f21ec-6bec-846d-28ca-17ed3726ba96-fee2cf58 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_33048911-ed2b-a8c2-cb02-f6cb5936d6f7-fee2cf58 {
  grid-area: 5 / 2 / 6 / 3;
  justify-self: start;
}

#w-node-_90fb9156-3d3e-baf2-347c-7bca5e84360b-fee2cf58 {
  grid-area: 4 / 2 / 5 / 3;
}

#w-node-_6d3dea13-60b2-c33a-1df6-a87bfd73fcb2-fee2cf58 {
  grid-area: 3 / 2 / 4 / 3;
}

#w-node-_45b70959-597e-f82e-08d3-75e47d889809-fee2cf58, #w-node-_45b70959-597e-f82e-08d3-75e47d88980d-fee2cf58 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_095d76e2-3a80-1c9a-aa3c-d982732d27b0-732d27af {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-_8000aa5e-1ec6-802a-9652-91b8787e6042-fee2cf58, #w-node-cbcce3f6-b9da-23f3-2abe-3524b2e02989-fee2cf58 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_258800bf-7d71-8643-d448-ffaf46f9082c-fee2cf58 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-_33048911-ed2b-a8c2-cb02-f6cb5936d6f7-fee2cf58 {
    grid-area: 6 / 1 / 7 / 2;
  }

  #w-node-_90fb9156-3d3e-baf2-347c-7bca5e84360b-fee2cf58 {
    grid-area: 5 / 1 / 6 / 2;
  }

  #w-node-_6d3dea13-60b2-c33a-1df6-a87bfd73fcb2-fee2cf58 {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-_095d76e2-3a80-1c9a-aa3c-d982732d27b0-732d27af {
    grid-area: 1 / 2 / 2 / 3;
  }
}


@font-face {
  font-family: 'Fa Solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa Brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins custom';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins custom';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins custom';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
